.App {
    width: 1300px;
    margin: 0 auto;
}

.Titulo {
 font-weight: 700;
 font-size: 24px;
 color: #fff;
 margin-top: 100px;
 margin-bottom: 30px 
}

.Cards {
    display: flex;
    gap: 50px;
}

