.Perfil{
    text-align: center;
    padding: 24px;

    & img {
        border-width: 4px;
        border-radius: 50%;
        border-style: solid;
        border-color: rgba(146,146,146,0.8);
        width: 112px;
        height: 112px;
    }

    & p{
        font-weight: bold;
        line-height: 24px;
        margin-top: 8px;
    }
}

