#Switch{
    position: relative;
    width: 64px;
    margin: 4px auto;

    & button{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 0;
        background-color: fff;
        background-image: var(--switch-bg-url) ;
        background-repeat: no-repeat;
        background-position: center;

        position: absolute ;
        z-index: 1;
        top: 50% ;
        transform: translateY(-50%);

        animation: slide-out 0.2s;

    }

    & button:hover{
        outline: 8px solid var(--stroke-color);
    }
}


/* animação */

@keyframes slide-in {
    from{
        left: 0;
      }
    to {
        left: 50%;
    }
}

@keyframes slide-out {
    from{
        left: 0;
      }
    to {
        left: 50%;
    }
}