.movie{
width: 310px;
height: 460px;
margin: 1.5rem;
position: relative;
overflow: hidden;
border: none;
box-shadow: 0px 13px 10px -7px var(--shadow-color);
border-radius: 10px;

transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1,275);

/* Animação ao passar o mouse nos filmes */

&:hover {
    box-shadow: 0 30px 18px -8px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    & div:nth-of-type(1) {
            opacity: 1;
        }

        & div:nth-of-type(2){
            opacity: 0.7;
        }

        & div:nth-of-type(3) {
         /*background-color: transparent;*/
        }
}


/* Modificando o primeiro item div que existe no movie (ano) */
& div:nth-of-type(1){
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 0;
    color: var(--accent-color);
    font-weight: bold;
    text-align: center;
    transition: opacity 0.3s ease;
    padding: 10 0px;

    opacity: 0;
    background: var(--bg-secondary)

}

/* Modificando o segundo item div que existe no movie (imagem) */
& div:nth-of-type(2) {
    height: 100%;
    width: 100%;

    & img{
    height: 100%;
    width: 100%;
    }
}

/* Modificando o terceiro item div que existe no movie (titulo) */

& div:nth-of-type(3) {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px 24px 24px;
    background-color: var(--bg-secondary);

    transition: all 0.3s ease;

    & span {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--text-secondary);
    }

    & h3 {
    margin-top: 5px;
    color: var(--accent)
    }
}

}