:root{
  /* root são variáveis de css no tema original projetado */
--font-audiowide: "Audiowide," sans-serif;

/* Modo Light (Padrão)*/
--bg-primary: #f5f5f5
}

@media (prefers-color-scheme: dark){
  /* Modo Dark */
  :root{
     --bg-primary: #212426;  
  }
}

body{
  font-family: var(--font-audiowide);
  background: var(--bg-primary);
}
